name    = "create_db_secret"
timeout = "1m"

[[triggers]]
type           = "pre-deploy-component"
component_name = "coder"

[[triggers]]
type = "manual"

[[steps]]
name    = "create coder db url secret"
inline_contents = """
#!/usr/bin/env sh
kubectl create namespace coder --dry-run=client -o yaml | kubectl apply -f -
kubectl create secret generic coder-db-url -n coder \
  --save-config \
  --dry-run=client \
  --from-literal=url=\"postgres://coder:coder@postgresql.coder.svc.cluster.local:5432/coder?sslmode=disable\" \
  -o yaml | kubectl apply -f -
"""
