name              = "certificate"
type              = "terraform_module"
terraform_version = "1.11.3"

[public_repo]
repo      = "sharkymark/nuon"
directory = "src/app-config/coder/src/components/certificate"
branch    = "main"

[vars]
zone_id     = "{{.nuon.install.sandbox.outputs.nuon_dns.public_domain.zone_id}}"
domain_name = "{{.nuon.install.sandbox.outputs.nuon_dns.public_domain.name}}"
subject_alternative_names = "*.{{.nuon.install.sandbox.outputs.nuon_dns.public_domain.name}}"

install_id  = "{{ .nuon.install.id }}"
region      = "{{ .nuon.install_stack.outputs.region }}"

# https://registry.terraform.io/modules/terraform-aws-modules/acm/aws/latest